.interface.Hide {
    visibility: hidden;
}
.interface-header {
    position: fixed;
    z-index: 15;
}
.interface-header h1 {
    z-index: 20;
    position: fixed;
    top:.5vh;
    left:40vw;
    font-size: 2vw;
    color:rgb(47, 46, 116);
    text-shadow: 0vh .25vh .1vh rgba(0, 0, 0, 0.37);
}
.interface-btns {
    position: fixed;
    right:0;
    top:0;
    height:5vh;
    width: 100%;
    overflow:visible;
}

.interface-btn {
    position: relative;
    height: 100%;
    max-width:12%;
    min-width: 12%;
    background-color: #192169;
    border: .25vw solid rgb(114, 90, 218);
    outline: none;
    border-radius: 20em;
    font-weight: bold;
    font-size:.833vw; 
    padding-left:2em;
    padding-right: 2em;
    color: white;
    margin-right:.2em;
    float:right;
    overflow: hidden;
    box-shadow: 0vh .2vh .2vh grey;
    transition: height 100ms, min-width 100ms, max-width 100ms;
}
.interface-btn:hover {
    background-color: #151e72;
    border: .25vw solid rgb(131, 107, 240);
    box-shadow: 0vh .3vh .3vh grey; 
    max-width:13%;
    min-width: 13%;
    height: 110%;
}
.interface-btn.pathfinding {
    float: right;
}
.interface-btn.generator {
    float: left;
}
.interface-stats {
    z-index: 15;
    position: fixed;
    bottom:0;
    left:40vw;
    height:3vh;
    width:20vw;
    background-color: #192169;
    border: .25vw solid rgb(114, 90, 218);
    border-top-left-radius: 1.5vw;
    border-top-right-radius: 1.5vw;
}
.interface-stats p {
    float:left;
    color:white;
    font-weight: bold;
    font-size: .833vw;
    text-align: center;
    width:50%;
    position: relative;
    top:.4vh;
}
.interface-hideuibtn, .interface-settingsbtn {
    z-index: 15;
    position: fixed;
    bottom: 0;
    width:10vw;
    height:3.5vh;
    background-color: #192169;
    border: .25vw solid rgb(114, 90, 218);
    color:white;
    font-weight: bold;
    font-size: .9vw;
    text-align: center;
    outline: none;
    cursor: pointer;
    transition: width 100ms;
}
.interface-hideuibtn {
    left: 0;
    border-top-right-radius: 1.4vw;
}
.interface-settingsbtn {
    right:0;
    border-top-left-radius: 1.4vw;
}
.interface-hideuibtn:hover, .interface-settingsbtn:hover {
    background-color: #151e72;
    border: .25vw solid rgb(131, 107, 240);
    width:11vw;
}
.interface.Hide .interface-hideuibtn {
    visibility: visible;
    left: -9vw;
    transition: left 100ms;
}
.interface.Hide .interface-hideuibtn:hover {
    visibility: visible;
    left:0;
}
