.grid {
    margin: auto;
    position: relative;
}
.grid-cell {
    width:25px;
    height:25px;
    float: left;
    border: 1px solid rgb(240, 240, 248);
    cursor: crosshair;
}
.grid-cell-background {
    position: relative;
    width:25px;
    height:25px;
}
.NORMAL .grid-cell-background{
    background-color: white;
    z-index: 2;
}
.WALL .grid-cell-background{
    background-color: rgb(31, 30, 73);
    animation: growshrink 350ms;
    width:25px; height:25px; left: -2px; top: -2px;
    border:2px solid rgb(31, 30, 73);
    z-index: 7;
}
@keyframes growshrink {
    0% {width:8px; height:8px;top: 7px;left: 7px; background-color: rgb(8, 7, 70); border:2px solid rgb(8, 7, 70)}
    65% {width:35px; height:35px; top: -6px; left: -6px; background-color: rgb(20, 18, 122); border:2px solid rgb(20, 18, 122)}
    100% {width:25px; height:25px; left: -2px; top: -2px; border:2px solid rgb(8, 7, 70); background-color: rgb(8, 7, 70)}
}
.START .grid-cell-background{
    width:25px; height:25px; left: -2px; top: -2px;
    border:2px solid rgb(206, 50, 50);
    background-color: rgb(255, 102, 102);
    cursor: move;
    z-index: 10;
}
.FINISH .grid-cell-background{
    width:25px; height:25px; left: -2px; top: -2px;
    border:2px solid rgb(63, 189, 63);
    background-color: rgb(121, 218, 121);
    background-image: url('../icons/finishnodeicon.png');
    cursor: move;
    z-index: 10;
}
.PATH .grid-cell-background{
    width:25px; height:25px; left: -2px; top: -2px;
    border:2px solid rgb(255, 208, 0);
    background-color: #fff897;
    z-index: 6;
}
.OPEN .grid-cell-background{
    width:25px; height:25px; left: -2px; top: -2px;
    border:2px solid rgb(125, 117, 241);
    background-color: rgb(148, 124, 253);
    z-index: 4;
    animation: growshrinkop 1000ms;
}
.CLOSE .grid-cell-background{
    width:25px; height:25px; left: -2px; top: -2px;
    border:2px solid rgb(157, 165, 235);
    background-color: rgb(177, 190, 231);
    animation: openToClose 150ms;
    z-index: 3;
}
@keyframes closeToPath {
    0% {border:2px solid rgb(157, 165, 235); background-color: rgb(177, 190, 231);}
    100% {border:2px solid rgb(255, 208, 0); background-color: #fff897;}
}
@keyframes openToClose {
    0% {border:2px solid rgb(125, 117, 241);background-color: rgb(148, 124, 253);}
    100% {border:2px solid rgb(157, 165, 235); background-color: rgb(177, 190, 231);}
}
@keyframes growshrinkop {
    0% {width:8px; height:8px;top: 7px;left: 7px;border:2px solid rgb(76, 69, 179);
        background-color: rgb(78, 59, 161);}
    100% {width:25px; height: 25px;border:2px solid rgb(125, 117, 241);
        background-color: rgb(148, 124, 253); }
}