input[type='range'] {
    -webkit-appearance: none;
    appearance: none;
    height:1.2vh;
    width:100%;
    border-radius: 1vh;
    outline: none;
    background-color: rgb(114, 90, 218);
}
input[type='range']:hover {
    background-color: rgb(101, 80, 192);
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width:1.35vw;
    height: 1.35vw;
    background-color: rgb(220, 210, 255);
    border-radius: 100%;
    cursor: pointer;
    transition: all 80ms;
}

input[type='range']::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width:1.35vw;
    height: 1.35vw;
    background-color: rgb(220, 210, 255);
    border-radius: 100%;
    cursor: pointer;
}
input[type='range']::-webkit-slider-thumb:hover {
    width:1.5vw;
    height: 1.5vw;
}